*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.one{
  background-color: #1F2937;  
  color: #F9FAF8;

}


.navbar{
    display: flex;
    justify-content: space-around;
}


ul{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 6px 12px;
}


li a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}


.logo{
    padding: 6px 12px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}


.main-image h2{
    font-size: 48px;
    font-weight: bolder;
}

.main-image-Container{
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: #3882f6;
    color: white;
    padding: 2px 12px;
    border-radius: 12px;
}